/*
Eric Cohen
Date: October, 3, 2018
Section: CSE 154 AI

This is the index.css page for my web development portfolio and my Fraternity's
website. It is used by all pages in the portfolio so that each page can
keep the overall design consistency. The file looks distored because the universal
operator has been removed.
*/
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

div a {
  text-decoration: none;
  padding-left: 80px;
  padding-right: 80px;
}

div {
  display: inline-block;
  overflow: hidden;
}

div.active {
  background-color: #25185d;
}

a:hover {
  color: #999900;
}

/*Image taken from
https://wallpapercave.com/cool-plain-backgrounds
*/
main {
  background-image: url("Images/background_body.jpg");
}

main p {
  padding: 2px;
}

footer {
  background-color: gray;
  bottom: fixed;
}

iframe {
  border: none;
  overflow: hidden;
  background-color: white;
  margin-top: 2vh;
}

h1 a {
  text-decoration: none;
  color: #003366;
}

nav {
  background-color: black;
  border-right-style: solid;
  border-right-color: #555;
  font-size: 210%;
  position: fixed;
}

fieldset, form button {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

form {
  padding-left: .2vh;
}

fieldset {
  font-size: 30px;
  padding-left: 1vh;
}

nav, #fb-page {
  align-items: center;
}
nav, #main-text, #fb-page {
  display: flex;
}

nav, #main-text {
  justify-content: center;
}

.home, div a, main {
  color: white;
}

.title {
  text-shadow: 10px 10px 54px #ffd200, -10px -10px 54px #ffd200,
               -10px 10px 54px #ffd200, 10px -10px 54px #ffd200;
  color: #003366;
  line-height: 2.104;
}

.page-title {
  font-size: 100px;
}

/*Image taken from https://goo.gl/2ZkWQm*/
.body-main {
  background-image: url("Images/UW_background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
}

.existing {
    min-height: 100vh;
}

.center-text {
  text-align: center;
}

.hidden {
  display: none;
}

#submit-response-size {
  font-size: 25px;
}

#ZBT {
  font-size: 500%;
}

#ZetaBT {
  font-weight: bold;
}

#motto {
  font-size: 200%;
  text-shadow: 1px 1px 0 #000000, -1px -1px 0 #000000,
               -1px 1px 0 #000000, 1px -1px 0 #000000;
  margin-bottom: 1%
}

/*Image taken from
https://nypost.com/2018/08/05/party-boat-fight-leads-to-stabbing-cops/ */
#body-404 {
  background-image: url("Images/cop_light.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

#body-404, .body-main, navbar {
  background-color: black;
}

#main-text {
  font-size: 120%;
  padding-top: 8%;
  flex-flow: column;

}

#main-image, #main-text, nav, #fb-page {
  width: 100%;
  height: auto;
}

#text-404 {
  font-size: 250%;
  padding: 2%;
  margin: 9%;
}

#main-img {
  margin-left: auto;
  margin-right: auto;
}

#crest {
  margin-top: 8vh;
}

#fb-page {
  flex-direction: column;
}

#fb-page > div:nth-child(5) {
  margin-bottom: 2vh;
}
