/*
Eric Cohen
Date: November 16, 2018
Section: CSE 154 AI

This is the index.css page for my web development portfolio and my Fraternity's
website. It is used by all pages in the portfolio so that each page can
keep the overall design consistency. The file looks distored because the universal
operator has been removed.
*/

/*Image taken from https://goo.gl/2ZkWQm*/
body {
  background-image: url("Images/UW_background.jpg");
  background-size: 100% auto;
  background-attachment: fixed;
  margin: 0px;
  text-align: center;
}

/*Image taken from
https://wallpapercave.com/cool-plain-backgrounds
*/
main {
  background-image: url("Images/background_body.jpg");
  width: 95%;
  height: 100%;
}

main, #singlemember, #singlemember > div {
  margin: auto;
}

nav {
  justify-content: center;
  font-size: 210%;
  position: fixed;
  overflow: hidden;
  top: 0px;
}

nav a, #singlemember {
  background-color: black;
}

main, nav, .main-text p, .images > div, #singlemember, #singlemember > div,
  .dropdown {
  display: flex;
}

main, .main-text p, #singlemember > div, .dropdown {
  flex-direction: column;
  align-items: center;
}

legend {
	text-color: white;
}

p, nav a, h2 {
  color: white;
}

h1 {
  text-shadow: 10px 10px 54px #ffd200, -10px -10px 54px #ffd200,
               -10px 10px 54px #ffd200, 10px -10px 54px #ffd200;
  color: #003366;
}

h1 > a {
  text-decoration: none;
  cursor: pointer;
}

h2 {
  font-size: 250%;
  text-shadow: 1px 1px 0 #000000, -1px -1px 0 #000000,
             -1px 1px 0 #000000, 1px -1px 0 #000000;
}

.images > div, #singlemember {
  justify-content: space-between;
  flex-wrap: wrap;

}

nav a {
  height: 36px;
  text-decoration: none;
  padding-left: 80px;
  padding-right: 80px;
  border-style: solid;
  border-color: #000;
  border-width: 1px;
}

.dropdown-content {
  background-color: black;
  width: 231.08px;
}

.dropdown-content > a {
  padding: 0px;
}

p span {
  padding-top: 20px;
}

footer {
  background-color: gray;
  color: black;
  margin: 0px;
  bottom: 0px;
}

footer p {
  margin: 0;
}

nav, footer, .images > div{
  width: 100%;
}

#ZBT {
  font-size: 500%;
}

#singlemember {
  width: auto;
  height: 500%;
}

#singlemember > div {
  height: 200%;
  width: auto; /*Duplicate property*/
}

#rush-submit {
  margin-top: 5%;
  margin-bottom: 5%;
}

#rush-text {
  width: 50%;
}

#rush-chair {
  text-align: left;
  margin-right: auto;
  width: 20%;
  font-size: 80%
}

#rush-chair > img {
  width: 100%;
  height: auto;
}

#rush-btn {
  align-self: center;
  text-decoration: underline;
  color: #9975b9;
  margin-left: 12px;
  cursor: pointer;
}

#rush-btn:hover {
  color: #ffd200;
}

#fb-page div {
  background-color: white;
}

.main-text {
  font-size: 120%;
  margin: 4% auto;
  padding: 4% 2%;
  border-style: double;
  border-width: 5px;
}

.main-text .image-person {
  border-color: black;
}

.main-text img {
  margin-top: 8%;
}

.dropdown-content > a {
  position: relative;
}

.ZetaBT {
  font-weight: bold;
}

.div-person {
  margin: 2%;
}

.div-person p {
  font-size: 20px;
}

.image-person:hover {
  border-color: white;
}

.div-person:hover, .image-person {
  border-style: solid;
}

.div-event, .div-event > img {
  width: 20em;
  height: auto;
}

.side-page {
  font-size: 60px;
  margin-top: 4%;
}

.single {
  display: flex;
  align-self: center;
}

a:hover {
  color: #999900;
}

.active {
  background-color: #25185d;
}

.hidden {
  display: none;
}
