body, .code-validator, .dcode {
  display: flex;
  justify-content: center;
}

body, .dcode {
  align-items: center;
}

h1, #pass-input, .submit {
  width: 30%;
  height: auto;
}

#password {
  width: 100%;
  height: 100%;
}

#reply > img {
  margin-top: 25px;
  width: 150px;
  height: 150px;
}

.code-validator > button {
  width: 9em;/*100px;*/
  height: 9em;/*100px;*/
  border-style: solid;
  border-width: 1px;
  border-color: black;
  font-size: 30px;
}

.code-validator {
  align-self: center;
  flex-wrap: wrap;
  width: 90%;
}

.dcode{
  width: 93%; /*300px*/
  height: 7em;/*40px;*/
  border-style: double;
  border-color: black;
  border-width: 5px;
  font-size: 20px;
  background-color: white;
}

.code {
  font-size: 100px;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 600px) {
  #output > p {
    font-size: 50px;
  }
}
